
body{
  text-align: center;
  /* background: linear-gradient(to top, rgb(66, 20, 11), rgb(255, 255, 255)); */
  height:auto;
}

/* index */
.index__body{
  background: url(/img/kid-moon.png);
  background-size:auto;
}

.index__container{
  font-size: 5em;
  margin-top:30%;
}

.title{
  position: relative;
  top:10%;
  margin:0 auto;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 1em;
  letter-spacing: 20px;
}

.start{
  /* position:relative; */
  /* top:20%; */
  text-decoration: none;
  font-family:'Courier New', monospace;
  color:cadetblue;
  cursor: pointer;
}




.typing__container{
  font-size:5em;
}

#count{
  width:90px;
  margin:20px auto 80px;
  font-weight: bold;
  font-size:3.3rem ;
  color:rgb(0, 54, 13);
  /* text-decoration: underline dotted #8e0e09; */
  background:rgb(255, 255, 255);
  box-shadow:15px 15px 10px rgb(40, 40, 40) ;
  border-radius: 100px;
  border:10px solid rgb(96, 51, 2);
}

.wrap{
  margin:0 auto;
  font-size:4.5rem;
  margin-top:-50px;
  padding:50px 40px 90px;
  font-weight: bold;
  letter-spacing: 5px;
  overflow-wrap:break-word;
  border-radius: 20px 20px 5px 5px;
  box-shadow:10px 10px 10px rgb(40, 40, 40) ;
  border-bottom:1rem solid rgb(96, 51, 2);
  width:65%;
  background-color:rgb(0, 54, 13);
  color:rgb(220, 217, 217);
  /* font-family: 'Yusei Magic','Yusei Magic', sans-serif; */
  /* font-family:'Courier New', monospace; */
  font-family: 'Yusei Magic', sans-serif;
}

#typed{
  color:rgb(138, 246, 138);
}

#typedAjax{
  color:lightgreen;
}

.mistyped{
  background-color:red;
}

/* admin */
.container{
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.admin__container,
.search__container{
  font-family:'Courier New', monospace;
  letter-spacing:.1em;

  text-align: center;
  width:800px;
  height:auto;
  padding:2rem;
  margin:2rem;
  background:white;
  border-radius:3rem;
  background-size: cover;
}

.add__word, 
.search__word{
  width:300px;
  height:30px;
  padding:0 10px;
  margin:10px;
}

.search__table{
  margin:0 auto;
  width:80%;
}

.table__word{
  width:250px;
}